Repository axleshift/core1, changes with the labels that .github/labeler.yml gives for each.
All labels: bug, feature, documentation, workflow, npm, test, server, client

.github/labeler.yml:

bug:
  - "bug"
  - "fix"
  - "solve"
  - "address"
feature:
  - "feature"
  - "enhancement"
  - "works"
  - "added"
documentation:
  - "*.md"
workflow:
  - "*.yml"
npm:
  - "package.json"
  - "package-lock.json"
test:
  - "*.test.js"
  - changed-files:
        - any-glob-to-any-file:
            - server/test/**
server:
    - changed-files:
        - any-glob-to-any-file:
            - server/**
client:
    - changed-files:
        - any-glob-to-any-file:
            - client/**

Production
  src/Server.js
  src/components/token/internal.js
  src/metrics/v1/prometheus.js
  src/routes/v1/freight.js
  src/routes/v1/security/management.js
  src/routes/v1/security/sessions.js
Labels: none

Production
  src/components/activity.js
  src/components/auth/form/register.js
  src/components/auth/formOauth2.js
  src/routes/v1/auth.js
  src/routes/v1/freight.js
  src/routes/v1/security/activity.js
  src/routes/v1/security/management.js
  src/routes/v1/security/sessions.js
Labels: none

Production
  .env.example
  package-lock.json
  package.json
  src/config.js
  src/middleware/shipment.js
  src/routes/v1/index.js
  src/routes/v1/payment.js
  src/routes/v1/security/management.js
  src/webhook/v1/xendit.js
Labels: npm

Production
  src/routes/v1/freight.js
  src/routes/v1/index.js
  src/routes/v1/invoices.js
Labels: none

Production
  src/middleware/freight.js
  src/middleware/recaptcha.js
  src/middleware/shipment.js
  src/routes/v1/freight.js
  src/routes/v1/invoices.js
  src/routes/v1/security/management.js
  src/routes/v1/track.js
Labels: none

Production
  src/metrics/v1/prometheus.js
  src/middleware/invoices.js
  src/models/mongodb.js
  src/routes/v1/invoices.js
Labels: none

Production
  .gitignore
  src/components/encode.js
Labels: none

Production
  src/middleware/freight.js
  src/routes/v1/freight.js
  src/webhook/v1/github.js
Labels: none

Production
  src/routes/v1/invoices.js
  src/webhook/v1/github.js
Labels: none

Production
  src/components/activity.js
  src/components/auth/form/register.js
  src/components/auth/formOauth2.js
  src/routes/v1/auth.js
  src/routes/v1/freight.js
  src/routes/v1/invoices.js
  src/routes/v1/security/management.js
Labels: none

Production
  src/routes/v1/freight.js
  src/routes/v1/invoices.js
Labels: none

Production
  src/components/token/external.js
Labels: none

Production
  src/Server.js
  src/components/auth/form/login.js
  src/components/auth/formOauth2.js
  src/middleware/rateLimiter.js
  src/routes/v1/index.js
  src/routes/v1/metrics/prometheus.js
  src/routes/v1/security/activity.js
  src/routes/v1/security/management.js
Labels: none

Production
  src/Server.js
  src/components/auth/form/login.js
  src/components/auth/formOauth2.js
Labels: none

Production
  package-lock.json
  package.json
  src/components/auth/form/login.js
  src/components/auth/formOauth2.js
  src/components/sessions.js
  src/routes/v1/auth.js
  src/routes/v1/schedules.js
  src/routes/v1/security/activity.js
  src/routes/v1/security/management.js
  src/routes/v1/security/sessions.js
Labels: npm

Production
  src/routes/v1/freight.js
  src/routes/v1/security/sessions.js
Labels: none

Production
  .env.example
  package-lock.json
  package.json
  src/Server.js
  src/config.js
  src/routes/v1/invoices.js
  src/webhook/v1/github.js
  src/webhook/v1/index.js
  src/webhook/v1/xendit.js
Labels: npm

Production
  src/routes/v1/freight.js
  src/routes/v1/security/sessions.js
Labels: none

Production
  docs/README.md
  docs/auth.md
  docs/freight.md
  docs/track.md
  ecosystem.config.js
  package-lock.json
  package.json
  src/routes/v1/auth.js
  src/routes/v1/auth/token.js
  src/routes/v1/auth/verify.js
  src/routes/v1/freight.js
  src/routes/v1/index.js
Labels: npm

Production
  src/components/auth/form/login.js
  src/components/auth/form/register.js
  src/components/auth/formOauth2.js
  src/components/auth/token.js
  src/components/password.js
  src/components/sessions.js
  src/config.js
  src/middleware/auth.js
  src/models/mongodb.js
  src/models/users.json
  src/routes/v1/auth/token.js
  src/routes/v1/auth/verify.js
  src/routes/v1/freight.js
Labels: none

Production
  .env.example
  ecosystem.config.cjs
  package.json
  src/config.js
Labels: npm

Production
  src/components/test.js
  src/index.js
  src/models/mongodb.js
  src/routes/v1/index.js
  src/routes/v1/rates.js
Labels: none

Production
  src/components/auth/form/login.js
  src/components/auth/form/register.js
  src/components/auth/formOauth2.js
  src/components/otp/email.js
  src/components/sessions.js
  src/routes/v1/auth.js
  src/routes/v1/auth/token.js
  src/routes/v1/freight.js
  src/routes/v1/invoices.js
  src/routes/v1/newsletter.js
Labels: none

Production
  src/components/auth/form/login.js
  src/components/auth/formOauth2.js
  src/components/device.js
  src/routes/v1/auth.js
  src/routes/v1/couriers.js
  src/routes/v1/freight.js
  src/routes/v1/invoices.js
  src/routes/v1/newsletter.js
  src/routes/v1/rates.js
  src/routes/v1/schedules.js
  src/routes/v1/track.js
Labels: none

Production
  .env.example
  src/config.js
  src/routes/v1/freight.js
  src/routes/v1/invoices.js
  src/routes/v1/schedules.js
Labels: none

added username, limit changing of email and username to once every 30 days, and move email from contact into account details, performance improvements
  client/src/views/account/Security.jsx
  client/src/views/account/index.jsx
  client/src/views/auth/Login.jsx
  client/src/views/auth/Register.jsx
  server/src/components/auth/form/login.js
  server/src/components/auth/form/register.js
  server/src/components/auth/formOauth2.js
  server/src/components/sessions.js
  server/src/routes/v1/auth.js
  server/src/webhook/v1/xendit.js
Labels: server, client

feat: address can be delete & confirmation of deletion
  client/src/views/my-addresses/Form.jsx
  server/src/middleware/address.js
  server/src/routes/v1/addresses.js
Labels: server, client

added cancellation confirmation
  client/src/views/book-now/fragments/review.jsx
Labels: client

minor improvements
  client/src/views/security/AccountLogs.jsx
  client/src/views/security/access-token/New.jsx
  client/src/views/security/panel/Activity.jsx
  client/src/views/security/panel/Dependabot.jsx
  client/src/views/security/panel/Sentry.jsx
  client/src/views/security/panel/Sessions.jsx
  client/src/views/support/Faq.jsx
Labels: client

bug fixes
  server/src/components/auth/formOauth2.js
Labels: server

requiring password change on every 90 days, updating password rules, updating password change ui
  client/src/layout/DefaultLayout.jsx
  client/src/views/account/Security.jsx
  client/src/views/book-now/fragments/review.jsx
  server/src/components/auth/formOauth2.js
  server/src/components/sessions.js
  server/src/components/token/internal.js
  server/src/routes/v1/auth.js
Labels: server, client

remove y scale in widgets
  client/src/views/dashboard/index.jsx
Labels: client

dashboard improvements and minor bug fixes
  client/package-lock.json
  client/src/App.jsx
  client/src/views/dashboard/index.jsx
  client/src/views/landing/index.jsx
  client/src/views/schedules/index.jsx
  client/src/views/security/Sessions.jsx
  server/src/routes/v1/freight.js
  server/src/routes/v1/insights.js
Labels: server, client

individually render every single widgets than waiting for all of them to complete loading
  client/src/views/dashboard/index.jsx
Labels: client

refractor S3
  client/src/views/account/index.jsx
  server/src/components/s3/documents.js
  server/src/models/s3.js
Labels: server, client

Update README.md
  README.md
Labels: documentation
