Repository axleshift/core1, changes with the labels that .github/labeler.yml gives for each.
All labels: workflow, client, server, mobile, auth, routes, env, dependencies, documentation, test, container, infra, vcs, cargo-tracking, order-management, customer-communication-and-service, rate-management

Production
  .env.example
  ecosystem.config.cjs
  package.json
  src/config.js
Labels: dependencies

Production
  src/components/test.js
  src/index.js
  src/models/mongodb.js
  src/routes/v1/index.js
  src/routes/v1/rates.js
Labels: none

Production
  src/components/auth/form/login.js
  src/components/auth/form/register.js
  src/components/auth/formOauth2.js
  src/components/otp/email.js
  src/components/sessions.js
  src/routes/v1/auth.js
  src/routes/v1/auth/token.js
  src/routes/v1/freight.js
  src/routes/v1/invoices.js
  src/routes/v1/newsletter.js
Labels: none

Production
  src/components/auth/form/login.js
  src/components/auth/formOauth2.js
  src/components/device.js
  src/routes/v1/auth.js
  src/routes/v1/couriers.js
  src/routes/v1/freight.js
  src/routes/v1/invoices.js
  src/routes/v1/newsletter.js
  src/routes/v1/rates.js
  src/routes/v1/schedules.js
  src/routes/v1/track.js
Labels: none

Production
  .env.example
  src/config.js
  src/routes/v1/freight.js
  src/routes/v1/invoices.js
  src/routes/v1/schedules.js
Labels: none

added username, limit changing of email and username to once every 30 days, and move email from contact into account details, performance improvements
  client/src/views/account/Security.jsx
  client/src/views/account/index.jsx
  client/src/views/auth/Login.jsx
  client/src/views/auth/Register.jsx
  server/src/components/auth/form/login.js
  server/src/components/auth/form/register.js
  server/src/components/auth/formOauth2.js
  server/src/components/sessions.js
  server/src/routes/v1/auth.js
  server/src/webhook/v1/xendit.js
Labels: client, server, auth, routes

feat: address can be delete & confirmation of deletion
  client/src/views/my-addresses/Form.jsx
  server/src/middleware/address.js
  server/src/routes/v1/addresses.js
Labels: client, server, routes

added cancellation confirmation
  client/src/views/book-now/fragments/review.jsx
Labels: client

minor improvements
  client/src/views/security/AccountLogs.jsx
  client/src/views/security/access-token/New.jsx
  client/src/views/security/panel/Activity.jsx
  client/src/views/security/panel/Dependabot.jsx
  client/src/views/security/panel/Sentry.jsx
  client/src/views/security/panel/Sessions.jsx
  client/src/views/support/Faq.jsx
Labels: client, customer-communication-and-service

bug fixes
  server/src/components/auth/formOauth2.js
Labels: server, auth

requiring password change on every 90 days, updating password rules, updating password change ui
  client/src/layout/DefaultLayout.jsx
  client/src/views/account/Security.jsx
  client/src/views/book-now/fragments/review.jsx
  server/src/components/auth/formOauth2.js
  server/src/components/sessions.js
  server/src/components/token/internal.js
  server/src/routes/v1/auth.js
Labels: client, server, auth, routes

remove y scale in widgets
  client/src/views/dashboard/index.jsx
Labels: client

dashboard improvements and minor bug fixes
  client/package-lock.json
  client/src/App.jsx
  client/src/views/dashboard/index.jsx
  client/src/views/landing/index.jsx
  client/src/views/schedules/index.jsx
  client/src/views/security/Sessions.jsx
  server/src/routes/v1/freight.js
  server/src/routes/v1/insights.js
Labels: client, server, routes, dependencies, order-management

individually render every single widgets than waiting for all of them to complete loading
  client/src/views/dashboard/index.jsx
Labels: client

refractor S3
  client/src/views/account/index.jsx
  server/src/components/s3/documents.js
  server/src/models/s3.js
Labels: client, server

Update README.md
  README.md
Labels: none

.github/labeler.yml:

workflow:
- changed-files:
  - any-glob-to-any-file: '.github/**/*'

client:
- changed-files:
  - any-glob-to-any-file: 'client/src/**/*'

server:
- changed-files:
  - any-glob-to-any-file: 'server/src/**/*'

mobile:
- changed-files:
  - any-glob-to-any-file: 'mobile/app/**/*'

auth:
- changed-files:
  - any-glob-to-any-file: ['client/src/views/auth/**/*', 'client/src/components/middleware/Auth.jsx', 'server/src/components/auth/**/*', 'server/src/routes/v1/auth.js']

routes:
- changed-files:
  - any-glob-to-any-file: 'server/src/routes/**/*'

env:
- changed-files:
  - any-glob-to-any-file: ['client/.env.example', 'server/.env.example']

dependencies:
- changed-files:
  - any-glob-to-any-file: ['package.json', 'package-lock.json', 'client/package.json', 'client/package-lock.json', 'server/package.json', 'server/package-lock.json', 'mobile/package.json', 'mobile/package-lock.json']

documentation:
- changed-files:
  - any-glob-to-any-file: 'server/docs/**/*'

test:
- changed-files:
  - any-glob-to-any-file: ['server/test/**/*', 'mobile/components/__tests__/**/*']

container:
- changed-files:
  - any-glob-to-any-file: ['server/Dockerfile', 'server/.dockerignore']

infra:
- changed-files:
  - any-glob-to-any-file: 'server/main.tf'

vcs:
- changed-files: 
  - any-glob-to-any-file: ['.gitignore', 'server/.gitignore', 'client/.gitignore', 'mobile/.gitignore']

'cargo-tracking':
- changed-files:
  - any-glob-to-any-file: ['client/src/views/track/**/*', 'server/src/routes/v1/track.js']

'order-management':
- changed-files:
  - any-glob-to-any-file: ['client/src/components/forms/**/*', 'client/src/views/freight/**/*', 'client/src/views/overview/**/*', 'server/src/routes/v1/freight.js']

'customer-communication-and-service':
- changed-files:
  - any-glob-to-any-file: ['client/src/views/support/**/*', 'client/firebase.js']

'rate-management':
- changed-files:
  - any-glob-to-any-file: 'client/src/views/pricing/**/*'
