Repository axleshift/core1, changes with the labels that .github/labeler.yml gives for each.
All labels: workflow, client, server, mobile, auth, routes, env, dependencies, documentation, test, container, infra, vcs, cargo-tracking, order-management, customer-communication-and-service, rate-management

Production
  .gitignore
  package-lock.json
  package.json
  src/components/auth/form/register.js
  src/routes/v1/auth.js
  src/routes/v1/freight.js
  src/routes/v1/index.js
  src/routes/v1/metrics.js
  src/routes/v1/securityManagement.js
  test/v1/auth.js
Labels: dependencies, vcs

Production
  package.json
Labels: dependencies

Production
  src/components/auth/form/login.js
  src/components/auth/token.js
Labels: none

Production
  package.json
  src/components/token/external.js
  src/components/token/internal.js
  src/middleware/ipwhitelist.js
  src/routes/v1/auth.js
  test/v1/auth.js
Labels: dependencies

Production
  src/components/auth/form/login.js
  src/components/auth/token.js
  src/components/token/internal.js
  src/config.js
  src/index.js
Labels: none

Production
  src/routes/v1/auth.js
Labels: none

Production
  src/components/token/internal.js
Labels: none

Production
  src/routes/v1/index.js
  src/routes/v1/schedules.js
  src/routes/v1/security/activity.js
  src/routes/v1/security/management.js
Labels: none

Production
  src/routes/v1/auth.js
Labels: none

Production
  src/routes/v1/auth.js
  src/routes/v1/freight.js
Labels: none

Production
  src/routes/v1/auth.js
Labels: none

Production
  package.json
  src/middleware/rateLimiter.js
  src/routes/v1/track.js
Labels: dependencies

Production
  .env.example
  package-lock.json
  package.json
  src/Server.js
  src/components/cmd.js
  src/config.js
  src/metrics/v1/prometheus.js
  src/routes/v1/index.js
  src/webhook/v1/github.js
Labels: dependencies

Production
  package-lock.json
  package.json
  src/Server.js
  src/components/token/internal.js
  src/metrics/v1/prometheus.js
  test/index.js
Labels: dependencies

Production
  src/webhook/v1/github.js
Labels: none

Production
  src/metrics/v1/prometheus.js
  src/middleware/rateLimiter.js
  src/routes/v1/security/management.js
Labels: none

Production
  .gitignore
  src/routes/v1/auth.js
Labels: vcs

Production
  .env.example
  src/components/dependabot.js
  src/config.js
  src/routes/v1/auth.js
  src/routes/v1/freight.js
  src/routes/v1/insights.js
  src/routes/v1/newsletter.js
  src/routes/v1/schedules.js
  src/routes/v1/security/management.js
  src/routes/v1/track.js
Labels: none

Production
  src/Server.js
  src/routes/v1/index.js
  src/routes/v1/security/sessions.js
Labels: none

Production
  src/Server.js
  src/metrics/v1/prometheus.js
  src/webhook/v1/github.js
Labels: none

Production
  src/Server.js
  src/components/token/internal.js
  src/metrics/v1/prometheus.js
  src/routes/v1/freight.js
  src/routes/v1/security/management.js
  src/routes/v1/security/sessions.js
Labels: none

Production
  src/components/activity.js
  src/components/auth/form/register.js
  src/components/auth/formOauth2.js
  src/routes/v1/auth.js
  src/routes/v1/freight.js
  src/routes/v1/security/activity.js
  src/routes/v1/security/management.js
  src/routes/v1/security/sessions.js
Labels: none

Production
  .env.example
  package-lock.json
  package.json
  src/config.js
  src/middleware/shipment.js
  src/routes/v1/index.js
  src/routes/v1/payment.js
  src/routes/v1/security/management.js
  src/webhook/v1/xendit.js
Labels: dependencies

Production
  src/routes/v1/freight.js
  src/routes/v1/index.js
  src/routes/v1/invoices.js
Labels: none

Production
  src/middleware/freight.js
  src/middleware/recaptcha.js
  src/middleware/shipment.js
  src/routes/v1/freight.js
  src/routes/v1/invoices.js
  src/routes/v1/security/management.js
  src/routes/v1/track.js
Labels: none

Production
  src/metrics/v1/prometheus.js
  src/middleware/invoices.js
  src/models/mongodb.js
  src/routes/v1/invoices.js
Labels: none

Production
  .gitignore
  src/components/encode.js
Labels: vcs

Production
  src/middleware/freight.js
  src/routes/v1/freight.js
  src/webhook/v1/github.js
Labels: none

Production
  src/routes/v1/invoices.js
  src/webhook/v1/github.js
Labels: none

Production
  src/components/activity.js
  src/components/auth/form/register.js
  src/components/auth/formOauth2.js
  src/routes/v1/auth.js
  src/routes/v1/freight.js
  src/routes/v1/invoices.js
  src/routes/v1/security/management.js
Labels: none

Production
  src/routes/v1/freight.js
  src/routes/v1/invoices.js
Labels: none

Production
  src/components/token/external.js
Labels: none

Production
  src/Server.js
  src/components/auth/form/login.js
  src/components/auth/formOauth2.js
  src/middleware/rateLimiter.js
  src/routes/v1/index.js
  src/routes/v1/metrics/prometheus.js
  src/routes/v1/security/activity.js
  src/routes/v1/security/management.js
Labels: none

Production
  src/Server.js
  src/components/auth/form/login.js
  src/components/auth/formOauth2.js
Labels: none

Production
  package-lock.json
  package.json
  src/components/auth/form/login.js
  src/components/auth/formOauth2.js
  src/components/sessions.js
  src/routes/v1/auth.js
  src/routes/v1/schedules.js
  src/routes/v1/security/activity.js
  src/routes/v1/security/management.js
  src/routes/v1/security/sessions.js
Labels: dependencies

Production
  src/routes/v1/freight.js
  src/routes/v1/security/sessions.js
Labels: none

Production
  .env.example
  package-lock.json
  package.json
  src/Server.js
  src/config.js
  src/routes/v1/invoices.js
  src/webhook/v1/github.js
  src/webhook/v1/index.js
  src/webhook/v1/xendit.js
Labels: dependencies

Production
  src/routes/v1/freight.js
  src/routes/v1/security/sessions.js
Labels: none

Production
  docs/README.md
  docs/auth.md
  docs/freight.md
  docs/track.md
  ecosystem.config.js
  package-lock.json
  package.json
  src/routes/v1/auth.js
  src/routes/v1/auth/token.js
  src/routes/v1/auth/verify.js
  src/routes/v1/freight.js
  src/routes/v1/index.js
Labels: dependencies

Production
  src/components/auth/form/login.js
  src/components/auth/form/register.js
  src/components/auth/formOauth2.js
  src/components/auth/token.js
  src/components/password.js
  src/components/sessions.js
  src/config.js
  src/middleware/auth.js
  src/models/mongodb.js
  src/models/users.json
  src/routes/v1/auth/token.js
  src/routes/v1/auth/verify.js
  src/routes/v1/freight.js
Labels: none

.github/labeler.yml:

workflow:
- changed-files:
  - any-glob-to-any-file: '.github/**/*'

client:
- changed-files:
  - any-glob-to-any-file: 'client/src/**/*'

server:
- changed-files:
  - any-glob-to-any-file: 'server/src/**/*'

mobile:
- changed-files:
  - any-glob-to-any-file: 'mobile/app/**/*'

auth:
- changed-files:
  - any-glob-to-any-file: ['client/src/views/auth/**/*', 'client/src/components/middleware/Auth.jsx', 'server/src/components/auth/**/*', 'server/src/routes/v1/auth.js']

routes:
- changed-files:
  - any-glob-to-any-file: 'server/src/routes/**/*'

env:
- changed-files:
  - any-glob-to-any-file: ['client/.env.example', 'server/.env.example']

dependencies:
- changed-files:
  - any-glob-to-any-file: ['package.json', 'package-lock.json', 'client/package.json', 'client/package-lock.json', 'server/package.json', 'server/package-lock.json', 'mobile/package.json', 'mobile/package-lock.json']

documentation:
- changed-files:
  - any-glob-to-any-file: 'server/docs/**/*'

test:
- changed-files:
  - any-glob-to-any-file: ['server/test/**/*', 'mobile/components/__tests__/**/*']

container:
- changed-files:
  - any-glob-to-any-file: ['server/Dockerfile', 'server/.dockerignore']

infra:
- changed-files:
  - any-glob-to-any-file: 'server/main.tf'

vcs:
- changed-files: 
  - any-glob-to-any-file: ['.gitignore', 'server/.gitignore', 'client/.gitignore', 'mobile/.gitignore']

'cargo-tracking':
- changed-files:
  - any-glob-to-any-file: ['client/src/views/track/**/*', 'server/src/routes/v1/track.js']

'order-management':
- changed-files:
  - any-glob-to-any-file: ['client/src/components/forms/**/*', 'client/src/views/freight/**/*', 'client/src/views/overview/**/*', 'server/src/routes/v1/freight.js']

'customer-communication-and-service':
- changed-files:
  - any-glob-to-any-file: ['client/src/views/support/**/*', 'client/firebase.js']

'rate-management':
- changed-files:
  - any-glob-to-any-file: 'client/src/views/pricing/**/*'
